.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #ff9000;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    opacity: 0.8;
    z-index: 1000;
    transition: opacity 1s ease-in-out;
  }
  
  .back-to-top:hover {
    opacity: 1;
  }
  