.footer {
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  text-align: center;
  padding: 2rem 0; /* Increased padding for more space */
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); /* Add subtle shadow */
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-content p {
  margin: 0;
  font-size: 1.1rem; /* Slightly larger text */
}

.social-links {
  display: flex;
  justify-content: center; /* Center align social links */
  gap: 1.5rem; /* Add space between social links */
}

.social-links a {
  color: #ff9000;
  text-decoration: none;
  display: flex; /* Center the icon and text vertically */
  align-items: center;
  transition: color 0.3s ease; /* Transition for color change */
}

.social-links a:hover {
  color: #fff; /* Change color on hover */
}

.social-icon {
  margin-right: 0.5rem; /* Space between icon and text */
  transition: transform 0.3s ease; /* Transition for scaling */
}

.social-links a:hover .social-icon {
  transform: scale(1.2); /* Scale icon on hover */
}
