.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Black background */
  color: #fff;
  z-index: 999;
}

.loading-bar-container {
  width: 80%;
  height: 20px;
  background-color: #444;
}

.loading-bar {
  height: 100%;
  background-color: #00ff00; /* Green progress bar */
}
